:root {
  --blue-primary: rgb(6, 136, 237);
}

body {
  padding: 50px 0;
  /* background-image: url("../assets/whiteBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
  background: white;
  color: black;
  min-height: 100vh;
}

input {
  color: black;
  background: white;
}

.inputs-container {
  width: 100%;

  direction: rtl;
  padding: 50px 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  justify-content: space-around;
  align-items: flex-start;
  background: white;
}

.inputs-container .form-group {
  width: 90vw;
  max-width: 500px;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 5px;
}

.inputs-container .form-group label,
.inputs-container .form-group input {
  width: 50%;
  text-align: center;
}

.inputs-container .form-group input {
  padding: 10px 5px;
  border-radius: 3px;
  outline: none;
  border: none;
  flex-grow: 1;
}

.result {
  margin-top: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.1);
  border-top: 5px solid var(--blue-primary);
}

.result div {
  /* background: yellow; */
  border-bottom: 2px solid #ddd;
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 25px 5px;
}

.result div:last-child {
  border-bottom: none;
}

.result div p {
  width: 50%;
}

.result div p:nth-child(1) {
  text-align: center;
}

.result div p:nth-child(2) {
  text-align: center;
}

.sreenBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--blue-primary);
  color: white;
  font-size: 20px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

/* Force Dark Mode  */

/* @media (prefers-color-scheme: dark) {
  * {
    color: black;
  }
} */
